useDynLib(msm)

export(
absorbing.msm,
boot.msm,
coef.msm,
contour.msm,
crudeinits.msm,
deltamethod,
ematrix.msm,
hazard.msm,
image.msm,
MatrixExp,
msm,
logLik.msm,
lrtest.msm,
odds.msm,
pearson.msm,
persp.msm,
plot.msm,
plotprog.msm,
plot.prevalence.msm,
plot.survfit.msm,
pmatrix.msm,
pmatrix.piecewise.msm,
prevalence.msm,
qmatrix.msm,
qratio.msm,
scoreresid.msm,
sim.msm,
simmulti.msm,
sojourn.msm,
statetable.msm,
summary.msm,
surface.msm,
totlos.msm,
transient.msm,
viterbi.msm,
hmmCat,
hmmIdent,
hmmUnif,
hmmNorm,
hmmLNorm,
hmmExp,
hmmGamma,
hmmWeibull,
hmmPois,
hmmBinom,
hmmTNorm,
hmmMETNorm,
hmmMEUnif,
hmmNBinom,
hmmBeta,
dtnorm,
ptnorm,
qtnorm,
rtnorm,
dmenorm,
pmenorm,
qmenorm,
rmenorm,
dmeunif,
pmeunif,
qmeunif,
rmeunif,
dpexp,
ppexp,
qpexp,
rpexp
)

importFrom(graphics, plot)
importFrom(graphics, persp)
importFrom(graphics, contour)
importFrom(graphics, image)
importFrom(stats, coef)
importFrom(mvtnorm, rmvnorm)
importFrom(survival, Surv)
importFrom(survival, survfit)

S3method(print, msm)
S3method(summary, msm)
S3method(plot, msm)
S3method(contour, msm)
S3method(persp, msm)
S3method(image, msm)
S3method(coef, msm)
S3method(logLik, msm)
S3method(print, hmodel)
S3method(print, hmmdist)
S3method(print, msm.est)
S3method(print, pearson.msm)
